.text-decorator-none {
  text-decoration: none;
}

.card{
  background-color: rgb(253, 248, 248)!important;
  border-bottom: rgb(192, 192, 192) solid 0.1px;
  border-top: rgb(192, 192, 192) solid 0.1px;
}

.btAtualizar{
  background-color: #ffe6e6!important;
  color: #b36b6b!important;
}

.btDeletar{
  background-color: #e47f7f!important;
  color: #ffe6e6!important;
}