.text-decorator-none {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.barra {
  background: rgb(39, 63, 64);
  background: linear-gradient(
    90deg,
    rgba(39, 63, 64, 1) 0%,
    rgba(239, 189, 158, 1) 35%,
    rgba(168, 70, 56, 1) 100%
  );
}

.espacamento{

  padding-top: 1.5%;
}

.icones{
  align-items: center;
}