.textos {
  font-weight: bold !important;
  text-decoration: none !important;
  color: black !important;
  padding-bottom: 15px;
  border-bottom: black 0.1px;
}

.box-shadow-effect {
  box-shadow: 1px 1px 8px #cfcfcf;
}

.box {
  background-color: white;
  display: block;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 1.5rem !important;
}

.botaoLogin {
  border-color: white;
  border-radius: 20px;
  background-color: white!important;
  color: #b36b6b!important;
  text-decoration: none!important;
  margin-right: 15px !important;
}

.botaoCadastro {
  border-color: white;
  border-radius: 20px;
  background-color: #e47f7f!important;
  color: #ffe6e6!important;
  text-decoration: none!important;
}



.botao:hover {
  background-color: #feccd7 !important;
}

.imagem-login {
  background-image: url("./../../assets/fundo-nuvens.jpg");
  background-repeat: no-repeat;
  width: 100vh;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.text-decorator-none {
  text-decoration: none;
}


.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-cadastro{
  text-decoration: none;
}