.textos {
  font-weight: bold !important;
  text-decoration: none !important;
  color: white !important;
  padding-bottom: 15px;
  border-bottom: white solid 0.1px;
}

.box {
  background-color: #cebcba !important;
  /* padding-top: 20px!important;
  padding-bottom: 20px!important;  /
  border-radius: 150px!important; 
  color: black!important;
  / margin-left: 20px;
  margin-right: 20px;  */
  display: block;
  box-sizing: border-box;
  padding: 1.5rem !important;
}

.form-ou {
  color: black !important;
  padding-left: 5px;
  padding-right: 10px;
}

.botao {
  border-color: white;
  border-radius: 20px;
  background-color: #5d2019 !important;
  color: white;
  text-decoration: none;
}

.botao:hover {
  background-color: #cebcba !important;
}

.imagem {
  background-image: url(https://i.imgur.com/XNrzBKr.png);
  background-repeat: no-repeat;
  width: 100vh;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.text-decorator-none {
  text-decoration: none;
}

.box-form {
  background-color: #faf9f6;
}

.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}
