.imagem2 {
  background-image: url(https://cdn.discordapp.com/attachments/993494998597255249/1007637558605389845/Captura_de_Tela_2022-08-12_as_10.04.58-removebg-preview.png);
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 96vh;
  background-size: cover;
  background-position: center;
}

.textos2 {
  font-weight: bold !important;
}

.btnCancelar {
  margin-right: 20px !important;
  border-color: white;
  border-radius: 20px!important;
  background-color: #d2a5af!important;
  color: white;
}

.btnCadastrar{
  border-color: white;
  border-radius: 20px!important;
  background-color: #8f1f37!important;
  color: white;
}